@font-face{
    font-family: Calibri;
    src: url(../fonts/calibri.ttf);
}
@font-face{
    font-family: Calibri;
    font-weight: bold;
    src: url(../fonts/calibrib.ttf);
}

body{
    padding: 0;
    margin: 0;
    background: #560abd;
    font-family: Calibri;    
    text-shadow: 0 0 5px #000;
}

.main{
    position: relative;
    margin: 0 auto;
    max-width: 960px;
    height: 100vh;
    color:#FFF;
}

.skins{
    display: flex;    
}

.skin{
    position: relative;
    flex: 0 0 20%;
    flex-grow: wrap;
}

.skin img{
    width: 100%;
}
.middle-contener{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:50px;
}

.un-user-select{
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.title-game{
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 70px;    
    margin-bottom:80px;    
    cursor: pointer;
}

.label-chenge{
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.play{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;   
    width: 200px;
    height: 50px;
    background: rgb(253, 164, 20);
    border-radius: 10px;
    cursor: pointer;
}

.play:hover{
    background: rgb(253, 183, 20);    
}

#select{
    position: absolute;
    background: url(../img/select.png) no-repeat;
    background-size:cover;
    width: 60px;
    height: 60px;
    top:70%;
    left: 50%;
    transform: translate(-50%,-30%);
}

.copyright{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.pashalka{
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 200px;
    height: 75px;
    color:#FFF;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
}

.fix-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.content{
    position: absolute;
}

#game{
    display: block;
}

#game , .content{    
    width: auto;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    
}

#bg-end-pause{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
}

.end-pause{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);    
    width: 320px;
    height: calc(50% + 125px);
}

.end-pause::after, .end-pause::before{
   position: absolute;
   top:0;
   width: 10px;
   height: 50%;
   background: url(../img/rope.png) repeat-y;
   background-size: cover;
   content: '';
   display: block;
   z-index: -1;
}

.end-pause::after{
    right:15px;
}
.end-pause::before{
    left:15px;
}

.panel{
    position: absolute;
    background: url(../img/panel.png) repeat-y;    
    bottom: 0;
    height: 250px;
    width: 100%;
    font-family: Calibri;
    font-weight: bold;
    color:#FFF;
    text-shadow: 1px 1px 5px #000;
}

#title-panel{
    text-align: center;  
    font-size: 2em;     
    line-height: 63px;    
}

.info-game{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 1.4em;
}

.info-game>div{
    width: 160px;
    height: 50px;    
    background-size:30px;
    background-repeat: no-repeat;
    background-position: 10px center ;
    text-align: center;
    line-height: 50px;
}

#info-hp{
    background-image: url(../img/hp.png);
}

#info-xp{
    background-image: url(../img/score.png);
}

#info-time{
    background-image: url(../img/clock.png);
}

.controls{
    display: flex;
    justify-content: space-evenly;   
    align-items: center; 
    height: 87px;    
}

.content button{
    width: 70px;
    height: 70px;
    border: 0;
    box-sizing: border-box;
    background-size: contain;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 0px #000;
}

.content button:hover{
    border:1px solid #000;
}

.replay{
    background: url(../img/replay.png);
}

.continue{
    background: url(../img/continue.png);
}

.home{
    background: url(../img/home.png);
}
